# Lab 2 - Python Crash Course Pt.2 + Intro to Numpy and Pandas

## List comprehensions

List comprehensions provide a concise way of creating lists

In [1]:
# Using a for loop
squares = []

for i in range(1,11):
    squares.append(i**2)
    
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# Using list comprehension

squares = [i**2 for i in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

List comprehension can include if conditions

In [3]:
# Using a for loop
squares = []

for i in range(1,11):
    if i**2 % 2 == 0:
        squares.append(i**2)
        
squares

[4, 16, 36, 64, 100]

The syntax for list comprehesion including if conditions:

`newlist = [expression for item in iterable if condition == True]`

Here the condition is like a filter that only accepts the items that valuate to `True`.

In [4]:
# Equivalent code using list comprehension

squares = [i**2 for i in range(1,11) if i**2 % 2 == 0] # even squares
squares

[4, 16, 36, 64, 100]

In [5]:
# Making it a bit clearer / more readable by breaking it over multiple lines
# P.S. a line of code in python can be split over multiple lines as long as it's between brackets

squares = [
    i**2
    for i in range(1,11)
    if i**2 % 2 == 0
]

squares

[4, 16, 36, 64, 100]

List comprehension can also include if-else expressions (conditional expressions)

In [6]:
squares=[]

for i in range(1, 11):
    if i**2 % 2 == 0:
        squares.append(i**2)
    else:
        squares.append(i)
    
squares

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

The syntax for list comprehesion including if-else expressions:

`newlist = [expression_1 if condition == True else expression_2 for item in iterable]`

Here you want to choose between two expression values based on some condition. So, the condition is not used like a filter, but as a way to manipulate the outcome.

In [7]:
# Equivalent code using list comprehension

squares = [i**2 if i**2 % 2 == 0 else i for i in range(1,11)]
squares

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

And can also create nested lists

In [8]:
times_table = [[x*y for x in range(1,13)] for y in range(1,13)]
times_table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
 [11, 22, 33, 44, 55, 66, 77, 88, 99, 110, 121, 132],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144]]

## Functions

Functions don't need to return something (if not specified, returns `None` by default)

In [9]:
def greet():
    print('Hello there')

a = greet()

Hello there

In [10]:
print (a is None)

a

True

You can specify parameters for the function to take in

In [11]:
def multiply(x, y):
    return x*y

a = multiply(10, 5)

In [12]:
print (a is None)

a

False

50

You can add optional arguments by specifying a default value for the parameter

Here is a root function $\sqrt[n]{x^m}$ that calculates the square root $\sqrt{x}$ by default

In [13]:
def root(x, m=1, n=2):
    return x**(m/n)

root(9)

3.0

You can also explicitly assign the parameters with the arguments you are passing

In [14]:
root(x=8, n=3)

2.0

## Lambdas

Lambdas are simply short anonymous (unnamed) functions designed to be created in-line with other code. As mentioned before, we use the `def` keyword to define a normal function in python. Similarly, the `lambda` keyword is used to define an anonymous (unnamed) function in Python. 
<br>Lambdas are functionally similar to regular functions with a single return line, but unlike those functions, lambdas are intended for single-use. They are a very useful and concise way of applying complex data cleaning or processing steps over values in a dataset.

The syntax of Lambda Function in python is simply:
`lambda arguments: expression`

In [15]:
# minimal example that takes a parameter x and returns x^2
# syntax is a bit similar to writing a mathematical function 
# f(x) = x^2

lambda x: x**2

In [16]:
# calling it
# You can apply the lambda function above to an argument by surrounding the function and its argument with parentheses:

(lambda x: x**2)(8)

64

In [17]:
# alternatively, storing the anonymous function in a variable for multiple calls
# P.S. not a good coding style, it'd be better to define a normal function instead

square = lambda x: x**2
print(square(8))
print(square(20))

64
400

Lambdas are especially useful when used in conjunction with a function like `map` which applies a function to each element of a given collection

In [18]:
list(map(lambda x: x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [19]:
# Which is equivalent to (if using a named function):
def square(x):
    return x**2

values = [1,2,3,4,5]

list(map(square, values))

[1, 4, 9, 16, 25]

## A Short Introduction to Numpy

[NumPy](https://numpy.org/doc/stable/) is a Python library that adds support for large, multi-dimensional arrays and matrices, in addition to many high-level mathematical functions that can be applied to these arrays. [Source: Wikipedia](https://en.wikipedia.org/wiki/NumPy)

NumPy functions are very fast compared to normal Python looping and array manipulation, as it is implemented in C, and is the dataset loading/manipulation library (pandas) we'll be using next time is built on top of it.

In [20]:
# importing the library and giving it a short alias
import numpy as np

The trade-off for NumPy's performance is that you can no longer mix datatypes in an array

In [21]:
# to avoid data loss, the entire list is casted to str
np.array([1, 2, 3, 4, '5'])

array(['1', '2', '3', '4', '5'], dtype='<U11')

In [22]:
# likewise, if there is a float
np.array([1, 2, 3.1415, 4, 5])

array([1.    , 2.    , 3.1415, 4.    , 5.    ])

One of the other main advantages of NumPy is supports vectorised operations

In [23]:
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [24]:
# adds 10 to each element
x + 10

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25])

In [25]:
# multiply each element by 2
x * 2

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30])

In [26]:
# element-by-element boolean comparsion
x > 5

array([False, False, False, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [27]:
# which you can use to filter the original array
x[x > 5]

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

Boolean operators can be applied to Boolean numpy arrays using the boolean bitwise operators `&` (and), `|` (or), `~` (not).

In [28]:
# A demonstration using two boolean numpy array
a = np.array([True, False, True])
b = np.array([False, False, True])

print('a & b:', a & b)
print('a | b:', a | b)
print('~a:', ~a)

a & b: [False False  True]
a | b: [ True False  True]
~a: [False  True False]

In [29]:
# Since any boolean comparison with numpy arrays give us a boolean array, we can use & | ~ on them
(x > 5) & (x < 10)

array([False, False, False, False, False,  True,  True,  True,  True,
       False, False, False, False, False, False])

In [30]:
# We can also use it to filter the original array like above
x[(x > 5) & (x < 10)]

array([6, 7, 8, 9])

In [31]:
# We can also keep the comparison result in a variable and use them later for filtering.
# This is especially useful to split long chained comparions and make the code easy to read

condition1 = x < 4
condition2 = x > 12

x[condition1 | condition2]

array([ 1,  2,  3, 13, 14, 15])

## Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with both *relational* or *labeled* data both easy and intuitive. It is a fundamental high-level building block for doing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

<!-- ![pandas table](https://pandas.pydata.org/docs/_images/01_table_dataframe.svg) -->
![pandas DataFrame visual explanation]()

Image Credit: GeeksforGeeks (2019). Creating a Pandas DataFrame. Retrieved from: https://www.geeksforgeeks.org/creating-a-pandas-dataframe/

In [32]:
import numpy as np
import pandas as pd

## Pandas Data Structures

### Series

A **Series** is a one-dimensional array with axis labels collectively known as an index.

Creating a series from an python list. Note how the indicies are automatically generated.

In [33]:
population = pd.Series([1394, 1326, 332, 267, 234, 214, 212, 163, 142, 129])
population

0    1394
1    1326
2     332
3     267
4     234
5     214
6     212
7     163
8     142
9     129
dtype: int64

We can set the index (axis labels) at creation by passing it to the `index` parameter.

In [34]:
population = pd.Series([1394, 1326, 332, 267, 234, 214, 212, 163, 142, 129],
                       index=['China', 'India', 'United States','Indonesia', 'Pakistan', 'Nigeria', 'Brazil', 'Bangladesh', 'Russia', 'Japan'])

population

China            1394
India            1326
United States     332
Indonesia         267
Pakistan          234
Nigeria           214
Brazil            212
Bangladesh        163
Russia            142
Japan             129
dtype: int64

We can name the series and the index for additional clarity

In [35]:
population.name = 'population'
population.index.name = 'country'
population

country
China            1394
India            1326
United States     332
Indonesia         267
Pakistan          234
Nigeria           214
Brazil            212
Bangladesh        163
Russia            142
Japan             129
Name: population, dtype: int64

We can access data by its positional (integer) index, like normal lists, by indexing with the `iloc` attribute

In [36]:
# Indexing
population.iloc[2]

332

In [37]:
# Slicing is also possible
population.iloc[:4]

country
China            1394
India            1326
United States     332
Indonesia         267
Name: population, dtype: int64

We can access the data associated with a particular index (i.e. axis label), by indexing the `loc` attribute

In [38]:
population.loc['Japan']

129

Similarly, you can also slice using the labels (notice how both the start and stop labels are included when slicing with `loc`)

In [39]:
population.loc['Indonesia' : 'Russia']

country
Indonesia     267
Pakistan      234
Nigeria       214
Brazil        212
Bangladesh    163
Russia        142
Name: population, dtype: int64

You can use boolean comparison with a series.

In [40]:
population < 250

country
China            False
India            False
United States    False
Indonesia        False
Pakistan          True
Nigeria           True
Brazil            True
Bangladesh        True
Russia            True
Japan             True
Name: population, dtype: bool

Which can be used to filter data quite easily. This is called boolean masking.

In [41]:
population[population > 250]

country
China            1394
India            1326
United States     332
Indonesia         267
Name: population, dtype: int64

### DataFrame

Inevitably, we want to be able to store, view and manipulate data that is *multivariate*, where for every index there are multiple fields or columns of data, often of varying data type.

A `DataFrame` is a tabular data structure, encapsulating multiple series like columns in a spreadsheet. Data are stored internally as a 2-dimensional object, but the `DataFrame` allows us to represent and manipulate higher-dimensional data.

Country, Population (in millions), GDP (nominal, in millions of US dollars) as per the World Bank (2019)

In [42]:
world_stats = {
    'country': ['China', 'India', 'United States','Indonesia', 'Pakistan', 'Nigeria', 'Brazil', 'Bangladesh', 'Russia', 'Japan'],
    'population': [1394, 1326, 332, 267, 234, 214, 212, 163, 142, 129],
    'gdp': [14342903, 2875142, 21427700, 1119191, 278222, 448120, 1839758, 302571, 1699877, 5081770]
}

df_example = pd.DataFrame(world_stats)
df_example

         country  population       gdp
0          China        1394  14342903
1          India        1326   2875142
2  United States         332  21427700
3      Indonesia         267   1119191
4       Pakistan         234    278222
5        Nigeria         214    448120
6         Brazil         212   1839758
7     Bangladesh         163    302571
8         Russia         142   1699877
9          Japan         129   5081770

Accessing a particular column can be done just by indexing the dataframe

In [43]:
df_example['country']

0            China
1            India
2    United States
3        Indonesia
4         Pakistan
5          Nigeria
6           Brazil
7       Bangladesh
8           Russia
9            Japan
Name: country, dtype: object

Note how this returns a series

In [44]:
type(df_example['country'])

pandas.core.series.Series

We can also select multiple columns, by indexing with a list of column names

In [45]:
df_example[['country', 'gdp']]

         country       gdp
0          China  14342903
1          India   2875142
2  United States  21427700
3      Indonesia   1119191
4       Pakistan    278222
5        Nigeria    448120
6         Brazil   1839758
7     Bangladesh    302571
8         Russia   1699877
9          Japan   5081770

Notice how it returns a dataframe since we still have multiple columns (i.e. two-dimensional data)

In [46]:
type(df_example[['country', 'gdp']])

pandas.core.frame.DataFrame

Adding a new column is also straightforward. Here, we're setting a single value for the entire column, but you can assign a python list or a `pd.Series` object to the column as well.

In [47]:
df_example['year'] = pd.Series([2019, 2018, 2018, 2015, 2016, 2013, 2012, 2014, 2017, 2019])
df_example

         country  population       gdp  year
0          China        1394  14342903  2019
1          India        1326   2875142  2018
2  United States         332  21427700  2018
3      Indonesia         267   1119191  2015
4       Pakistan         234    278222  2016
5        Nigeria         214    448120  2013
6         Brazil         212   1839758  2012
7     Bangladesh         163    302571  2014
8         Russia         142   1699877  2017
9          Japan         129   5081770  2019

Now, let's load a more complete dataset for more interesting insights. Pandas is capable of loading datasets from csv files, excel sheets, SQL databases, and more. In this instance, the data is saved in a csv file, so we can use the `pd.read_csv` function to load it into a dataframe.

In [48]:
# Uncomment the lines below and run this code instead if you're using Google Colab
# data_url = 'https://raw.githubusercontent.com/GUC-DM/w2023/main/data/world_factbook.csv'
# world_df = pd.read_csv(data_url)
# world_df

In [49]:
world_df = pd.read_csv('../data/world_factbook.csv')
world_df

,country,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,2.173990e+10,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,1.611745e+10,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,1.975805e+11,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,1.968394e+09,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,1.716495e+10,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,9.201608e+09,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,2.324993e+10,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

Normally we'd start by inspecting the dataset

We can look the first few rows of the dataframe using `head()`

In [50]:
world_df.head()

,country,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,2.173990e+10,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,1.611745e+10,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,1.975805e+11,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

Inspecting the last few rows of the dataframe using `tail()`

In [51]:
world_df.tail()

,country,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,1.968394e+09,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,1.716495e+10,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,9.201608e+09,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,2.324993e+10,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

P.S. `head()` and `tail()` return just 5 rows by default. Try passing 10 as a parameter instead.

In [52]:
world_df.head(10)

,country,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,2.173990e+10,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,1.611745e+10,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,1.975805e+11,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,9.7,0.13,0.00,191.19,2.304143e+10,42.0,7.8,2.41,0.24,97.35,NaN,45.11,24.20,0.096,0.658,0.246
6,Anguilla,LATIN AMER. & CARIB,13477,102,132.1,59.80,10.76,21.03,1.159022e+08,95.0,460.0,0.00,0.00,100.00,2.0,14.17,5.34,0.040,0.180,0.780
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,156.0,34.54,-6.15,19.46,7.601880e+08,89.0,549.9,18.18,4.55,77.27,2.0,16.93,5.37,0.038,0.220,0.743
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,14.4,0.18,0.61,15.18,4.471245e+11,97.1,220.4,12.31,0.48,87.21,3.0,16.73,7.55,0.095,0.358,0.547
9,Armenia,C.W. OF IND. STATES,2976372,29800,99.9,0.00,-6.47,23.28,1.041730e+10,98.6,195.7,17.55,2.30,80.15,4.0,12.07,8.23,0.239,0.343,0.418

A brief summary of the dataframe can be accessed by calling the `info()` instance method, showing the columns, data types, count of non-null values and memory usage of the dataframe

In [53]:
world_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           227 non-null    object
 1   region            227 non-null    object
 2   population        227 non-null    int64
 3   area              227 non-null    int64
 4   density           227 non-null    float64
 5   coastline         227 non-null    float64
 6   migration         224 non-null    float64
 7   infant_mortality  224 non-null    float64
 8   gdp               226 non-null    float64
 9   literacy          209 non-null    float64
 10  phones            223 non-null    float64
 11  arable            225 non-null    float64
 12  crops             225 non-null    float64
 13  other             225 non-null    float64
 14  climate           205 non-null    float64
 15  birthrate         224 non-null    float64
 16  deathrate         223 non-null    float64
 17  agriculture       212 non-null    float64
 18  industry          211 non-null    float64
 19  service           212 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 35.6+ KB

_Note: the column names have been simplified for ease of access. The original more descriptive column names are shown below._

\# | Column
---|  ------
0  | Country
1  | Region
2  | Population
3  | Area (sq. mi.)
4  | Pop. Density (per sq. mi.)
5  | Coastline (coast/area ratio)
6  | Net migration
7  | Infant mortality (per 1000 births)
8  | GDP (in \$US)
9  | Literacy (\%)
10 | Phones (per 1000)
11 | Arable (\%)
12 | Crops (\%)
13 | Other (\%)
14 | Climate
15 | Birthrate (per 1000)
16 | Deathrate (per 1000)
17 | Agriculture (\%)
18 | Industry (\%)
19 | Service (\%)

Generate descriptive statistics of numerical columns.

In [54]:
world_df.describe()

,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
count,2.270000e+02,2.270000e+02,227.000000,227.000000,224.000000,224.000000,2.260000e+02,209.000000,223.000000,225.000000,225.000000,225.000000,205.000000,224.000000,223.000000,212.000000,211.000000,212.000000
mean,2.874028e+07,5.982270e+05,379.047137,21.165330,0.038125,35.506964,2.332301e+11,82.838278,236.061435,13.797111,4.564222,81.638311,2.139024,22.114732,9.241345,0.150844,0.282711,0.565283
std,1.178913e+08,1.790282e+06,1660.185825,72.286863,4.889269,35.389899,9.565936e+11,19.722173,227.991829,13.040402,8.361470,16.140835,0.699397,11.176716,4.990026,0.146798,0.138272,0.165841
min,7.026000e+03,2.000000e+00,0.000000,0.000000,-20.990000,2.290000,1.299100e+07,17.600000,0.200000,0.000000,0.000000,33.330000,1.000000,7.290000,2.290000,0.000000,0.020000,0.062000
25%,4.376240e+05,4.647500e+03,29.150000,0.100000,-0.927500,8.150000,2.641380e+09,70.600000,37.800000,3.220000,0.190000,71.650000,2.000000,12.672500,5.910000,0.037750,0.193000,0.429250
50%,4.786994e+06,8.660000e+04,78.800000,0.730000,0.000000,21.000000,1.672712e+10,92.500000,176.200000,10.420000,1.030000,85.700000,2.000000,18.790000,7.840000,0.099000,0.272000,0.571000
75%,1.749777e+07,4.418110e+05,190.150000,10.345000,0.997500,55.705000,8.735565e+10,98.000000,389.650000,20.000000,4.440000,95.440000,3.000000,29.820000,10.605000,0.221000,0.341000,0.678500
max,1.313974e+09,1.707520e+07,16271.500000,870.660000,23.060000,191.190000,1.128119e+13,100.000000,1035.600000,62.110000,50.680000,100.000000,4.000000,50.730000,29.740000,0.769000,0.906000,0.954000

The population data is a bit hard to read. Let's convert it to be in millions of units.

In [55]:
world_df['population'] = world_df['population'] / 1e6
world_df

,country,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31.056997,647500,48.0,0.00,23.06,163.07,2.173990e+10,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3.581655,28748,124.6,1.26,-4.93,21.52,1.611745e+10,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32.930091,2381740,13.8,0.04,-0.39,31.00,1.975805e+11,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,0.057794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,0.071201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2.460492,5860,419.9,0.00,2.98,19.62,1.968394e+09,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,0.273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21.456188,527970,40.6,0.36,0.00,61.50,1.716495e+10,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11.502010,752614,15.3,0.00,0.00,88.29,9.201608e+09,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12.236805,390580,31.3,0.00,0.00,67.69,2.324993e+10,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [56]:
world_df.describe()

,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
count,227.000000,2.270000e+02,227.000000,227.000000,224.000000,224.000000,2.260000e+02,209.000000,223.000000,225.000000,225.000000,225.000000,205.000000,224.000000,223.000000,212.000000,211.000000,212.000000
mean,28.740284,5.982270e+05,379.047137,21.165330,0.038125,35.506964,2.332301e+11,82.838278,236.061435,13.797111,4.564222,81.638311,2.139024,22.114732,9.241345,0.150844,0.282711,0.565283
std,117.891327,1.790282e+06,1660.185825,72.286863,4.889269,35.389899,9.565936e+11,19.722173,227.991829,13.040402,8.361470,16.140835,0.699397,11.176716,4.990026,0.146798,0.138272,0.165841
min,0.007026,2.000000e+00,0.000000,0.000000,-20.990000,2.290000,1.299100e+07,17.600000,0.200000,0.000000,0.000000,33.330000,1.000000,7.290000,2.290000,0.000000,0.020000,0.062000
25%,0.437624,4.647500e+03,29.150000,0.100000,-0.927500,8.150000,2.641380e+09,70.600000,37.800000,3.220000,0.190000,71.650000,2.000000,12.672500,5.910000,0.037750,0.193000,0.429250
50%,4.786994,8.660000e+04,78.800000,0.730000,0.000000,21.000000,1.672712e+10,92.500000,176.200000,10.420000,1.030000,85.700000,2.000000,18.790000,7.840000,0.099000,0.272000,0.571000
75%,17.497772,4.418110e+05,190.150000,10.345000,0.997500,55.705000,8.735565e+10,98.000000,389.650000,20.000000,4.440000,95.440000,3.000000,29.820000,10.605000,0.221000,0.341000,0.678500
max,1313.973713,1.707520e+07,16271.500000,870.660000,23.060000,191.190000,1.128119e+13,100.000000,1035.600000,62.110000,50.680000,100.000000,4.000000,50.730000,29.740000,0.769000,0.906000,0.954000

We can include non-numeric columns in `describe`'s analysis by specifying `include='all'`

This calculates the number of unique values, the most common value and its frequency for each non-numeric column

In [57]:
world_df.describe(include='all')

,country,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
count,227,227,227.000000,2.270000e+02,227.000000,227.000000,224.000000,224.000000,2.260000e+02,209.000000,223.000000,225.000000,225.000000,225.000000,205.000000,224.000000,223.000000,212.000000,211.000000,212.000000
unique,227,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Afghanistan,SUB-SAHARAN AFRICA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,28.740284,5.982270e+05,379.047137,21.165330,0.038125,35.506964,2.332301e+11,82.838278,236.061435,13.797111,4.564222,81.638311,2.139024,22.114732,9.241345,0.150844,0.282711,0.565283
std,NaN,NaN,117.891327,1.790282e+06,1660.185825,72.286863,4.889269,35.389899,9.565936e+11,19.722173,227.991829,13.040402,8.361470,16.140835,0.699397,11.176716,4.990026,0.146798,0.138272,0.165841
min,NaN,NaN,0.007026,2.000000e+00,0.000000,0.000000,-20.990000,2.290000,1.299100e+07,17.600000,0.200000,0.000000,0.000000,33.330000,1.000000,7.290000,2.290000,0.000000,0.020000,0.062000
25%,NaN,NaN,0.437624,4.647500e+03,29.150000,0.100000,-0.927500,8.150000,2.641380e+09,70.600000,37.800000,3.220000,0.190000,71.650000,2.000000,12.672500,5.910000,0.037750,0.193000,0.429250
50%,NaN,NaN,4.786994,8.660000e+04,78.800000,0.730000,0.000000,21.000000,1.672712e+10,92.500000,176.200000,10.420000,1.030000,85.700000,2.000000,18.790000,7.840000,0.099000,0.272000,0.571000
75%,NaN,NaN,17.497772,4.418110e+05,190.150000,10.345000,0.997500,55.705000,8.735565e+10,98.000000,389.650000,20.000000,4.440000,95.440000,3.000000,29.820000,10.605000,0.221000,0.341000,0.678500
max,NaN,NaN,1313.973713,1.707520e+07,16271.500000,870.660000,23.060000,191.190000,1.128119e+13,100.000000,1035.600000,62.110000,50.680000,100.000000,4.000000,50.730000,29.740000,0.769000,0.906000,0.954000

Let's say we want to know the top 10 richest countries (highest GDP per capita). We can use the `sort_values` function to sort by a particular column.

In [58]:
world_df.sort_values('gdp', ascending=False).head(10)

,country,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
214,United States,NORTHERN AMERICA,298.444215,9631420,31.0,0.21,3.41,6.50,1.128119e+13,97.0,898.0,19.13,0.22,80.65,3.0,14.14,8.26,0.010,0.204,0.787
42,China,ASIA (EX. NEAR EAST),1313.973713,9596960,136.9,0.15,-0.40,24.18,6.569869e+12,90.9,266.7,15.40,1.25,83.35,1.5,13.25,6.97,0.125,0.473,0.403
103,Japan,ASIA (EX. NEAR EAST),127.463611,377835,337.4,7.87,0.00,3.26,3.594474e+12,99.0,461.2,12.19,0.96,86.85,3.0,9.37,9.16,0.017,0.258,0.725
94,India,ASIA (EX. NEAR EAST),1095.351995,3287590,333.2,0.21,-0.07,56.29,3.176521e+12,59.5,45.4,54.40,2.74,42.86,2.5,22.01,8.18,0.186,0.276,0.538
76,Germany,WESTERN EUROPE,82.422299,357021,230.9,0.67,2.18,4.16,2.274855e+12,99.0,667.9,33.85,0.59,65.56,3.0,8.25,10.62,0.009,0.296,0.695
69,France,WESTERN EUROPE,60.876136,547030,111.3,0.63,0.66,4.26,1.680181e+12,99.0,586.4,33.53,2.07,64.40,4.0,11.99,9.14,0.022,0.214,0.764
213,United Kingdom,WESTERN EUROPE,60.609153,244820,247.6,5.08,2.19,5.16,1.678874e+12,99.0,543.5,23.46,0.21,76.33,3.0,10.71,10.13,0.005,0.237,0.758
101,Italy,WESTERN EUROPE,58.133509,301230,193.0,2.52,2.07,5.94,1.552165e+12,98.6,430.9,27.79,9.53,62.68,NaN,8.72,10.40,0.021,0.291,0.688
27,Brazil,LATIN AMER. & CARIB,188.078227,8511965,22.1,0.09,-0.03,29.61,1.429395e+12,86.4,225.3,6.96,0.90,92.15,2.0,16.56,6.17,0.084,0.400,0.516
169,Russia,C.W. OF IND. STATES,142.893540,17075200,8.4,0.22,1.02,15.39,1.271753e+12,99.6,280.6,7.33,0.11,92.56,NaN,9.95,14.65,0.054,0.371,0.575

We can filter to specific columns by indexing with a list of column names we'd like to have

In [59]:
sorted_gdp = world_df.sort_values('gdp', ascending=False)
sorted_gdp[['country', 'gdp']].head(10)

            country           gdp
214   United States  1.128119e+13
42            China  6.569869e+12
103           Japan  3.594474e+12
94            India  3.176521e+12
76          Germany  2.274855e+12
69           France  1.680181e+12
213  United Kingdom  1.678874e+12
101           Italy  1.552165e+12
27           Brazil  1.429395e+12
169          Russia  1.271753e+12

Let's have a closer look at the region column. We can look at the values under region and their frequency by calling `value_counts()` on the region column.

In [60]:
world_df['region'].value_counts()

SUB-SAHARAN AFRICA      51
LATIN AMER. & CARIB     45
ASIA (EX. NEAR EAST)    28
WESTERN EUROPE          28
OCEANIA                 21
NEAR EAST               16
EASTERN EUROPE          12
C.W. OF IND. STATES     12
NORTHERN AFRICA          6
NORTHERN AMERICA         5
BALTICS                  3
Name: region, dtype: int64

If we want to filter the dataframe to just the countries in the Northern Africa, we can use index with a boolean mask like before

In [61]:
world_df[world_df['region'] == 'NORTHERN AFRICA']

,country,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
2,Algeria,NORTHERN AFRICA,32.930091,2381740,13.8,0.04,-0.39,31.00,1.975805e+11,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
60,Egypt,NORTHERN AFRICA,78.887007,1001450,78.8,0.24,-0.22,32.59,3.155480e+11,57.7,131.8,2.87,0.48,96.65,1.0,22.94,5.23,0.149,0.357,0.493
118,Libya,NORTHERN AFRICA,5.900754,1759540,3.4,0.10,0.00,24.60,3.776483e+10,82.6,127.1,1.03,0.19,98.78,NaN,26.49,3.48,0.076,0.499,0.425
141,Morocco,NORTHERN AFRICA,33.241259,446550,74.4,0.41,-0.98,41.62,1.329650e+11,51.7,40.4,19.61,2.17,78.22,NaN,21.98,5.58,0.217,0.357,0.426
205,Tunisia,NORTHERN AFRICA,10.175014,163610,62.2,0.70,-0.57,24.77,7.020760e+10,74.2,123.6,17.86,13.74,68.40,3.0,15.52,5.13,0.132,0.318,0.550
223,Western Sahara,NORTHERN AFRICA,0.273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400

Can we apply statistical methods (mean, median, standard deviation, etc.) on the filtered dataframe?

Yes! It's still a `pd.DataFrame` object.

In [62]:
# try out median(), std() and describe()
world_df[world_df['region'] == 'NORTHERN AFRICA'].mean()

C:\Users\ghada\AppData\Local\Temp\ipykernel_13316\1543691861.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  world_df[world_df['region'] == 'NORTHERN AFRICA'].mean()

population          2.690119e+01
area                1.003148e+06
density             3.893333e+01
coastline           3.183333e-01
migration          -4.320000e-01
infant_mortality    3.091600e+01
gdp                 1.508132e+11
literacy            6.724000e+01
phones              1.002000e+02
arable              7.435000e+00
crops               2.805000e+00
other               8.976000e+01
climate             1.500000e+00
birthrate           2.081400e+01
deathrate           4.806000e+00
agriculture         1.350000e-01
industry            4.262000e-01
service             4.320000e-01
dtype: float64

Taking it a step further, let's apply statistical analysis per-region instead of the entire world as before. We can use `groupby` and pass it the column we want to group by, and then apply an aggregate function like `mean`.

In [63]:
world_df.groupby('region').mean()

,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
region,,,,,,,,,,,,,,,,,,
ASIA (EX. NEAR EAST),131.713651,8.248826e+05,1264.825000,17.926786,1.372500,41.780000,6.637511e+11,79.553571,171.159259,15.874643,3.848929,80.276429,1.962963,21.157857,7.637143,0.177643,0.302143,0.520107
BALTICS,2.394991,5.833833e+04,39.833333,3.116667,-2.033333,8.103333,2.679031e+10,99.733333,292.866667,30.310000,0.610000,69.080000,3.000000,9.343333,12.630000,0.045000,0.293333,0.661667
C.W. OF IND. STATES,23.340129,1.841737e+06,56.708333,0.093333,-2.033333,44.410000,1.526052e+11,98.725000,163.850000,19.454167,2.022500,78.523333,2.550000,17.855833,10.341667,0.192000,0.328000,0.480167
EASTERN EUROPE,9.992893,9.601850e+04,100.900000,1.035000,-0.647500,12.686667,9.796731e+10,97.088889,280.750000,30.982500,2.430833,66.587500,3.111111,10.370909,10.284545,0.092167,0.309250,0.598667
LATIN AMER. & CARIB,12.484991,4.565352e+05,136.202222,15.972222,-1.494444,20.092667,9.080431e+10,90.654545,271.661364,10.790889,4.913556,84.295778,2.033333,19.081111,6.376000,0.091023,0.256116,0.650721
NEAR EAST,12.191774,2.722241e+05,427.081250,3.602500,2.650000,23.377500,7.973240e+10,79.521429,209.113333,10.553750,5.105625,84.333125,1.666667,25.031875,4.809375,0.063812,0.406000,0.530000
NORTHERN AFRICA,26.901189,1.003148e+06,38.933333,0.318333,-0.432000,30.916000,1.508132e+11,67.240000,100.200000,7.435000,2.805000,89.760000,1.500000,20.814000,4.806000,0.135000,0.426200,0.432000
NORTHERN AMERICA,66.334461,4.356494e+06,260.860000,49.640000,-0.274000,8.628000,2.454217e+12,97.750000,686.740000,11.426000,0.048000,88.526000,2.000000,13.154000,7.694000,0.014000,0.199333,0.787000
OCEANIA,1.577698,4.057053e+05,131.180952,107.885714,-2.060526,20.203684,3.382032e+10,88.835294,189.885714,7.667143,14.719524,77.613333,2.000000,22.108000,5.810526,0.175125,0.215250,0.608938
SUB-SAHARAN AFRICA,14.694843,4.772825e+05,92.264706,5.106078,-0.335098,80.039216,2.535609e+10,62.510000,42.507843,11.785800,3.788800,84.425800,1.885417,36.043922,15.160000,0.283551,0.266878,0.449755
WESTERN EUROPE,14.155000,1.325171e+05,952.042857,25.970714,3.321429,4.730357,3.802600e+11,98.391304,593.807143,16.933333,1.684815,81.381852,3.095238,10.553571,9.354643,0.044480,0.246083,0.714625

We can also use the `agg` (aggregate) function to apply one or more functions to each group

In [64]:
world_df.groupby('region').agg(['mean', 'std'])

C:\Users\ghada\AppData\Local\Temp\ipykernel_13316\3917813173.py:1: FutureWarning: ['country'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  world_df.groupby('region').agg(['mean', 'std'])

                      population                      area                \
                            mean         std          mean           std
region
ASIA (EX. NEAR EAST)  131.713651  310.261018  8.248826e+05  1.876839e+06
BALTICS                 2.394991    1.135572  5.833833e+04  1.135972e+04
C.W. OF IND. STATES    23.340129   39.734504  1.841737e+06  4.853888e+06
EASTERN EUROPE          9.992893   10.542456  9.601850e+04  8.974857e+04
LATIN AMER. & CARIB    12.484991   32.353969  4.565352e+05  1.353502e+06
NEAR EAST              12.191774   18.196450  2.722241e+05  5.055165e+05
NORTHERN AFRICA        26.901189   29.013489  1.003148e+06  8.978486e+05
NORTHERN AMERICA       66.334461  130.540408  4.356494e+06  5.056051e+06
OCEANIA                 1.577698    4.519602  4.057053e+05  1.672115e+06
SUB-SAHARAN AFRICA     14.694843   23.091893  4.772825e+05  5.801928e+05
WESTERN EUROPE         14.155000   23.158786  1.325171e+05  1.739409e+05

                          density                coastline              \
                             mean          std        mean         std
region
ASIA (EX. NEAR EAST)  1264.825000  3351.721857   17.926786   48.721033
BALTICS                 39.833333    13.461922    3.116667    4.579480
C.W. OF IND. STATES     56.708333    39.804373    0.093333    0.178139
EASTERN EUROPE         100.900000    19.844349    1.035000    2.945349
LATIN AMER. & CARIB    136.202222   138.253230   15.972222   21.524368
NEAR EAST              427.081250   980.005552    3.602500    6.292687
NORTHERN AFRICA         38.933333    36.665551    0.318333    0.243180
NORTHERN AMERICA       260.860000   548.099943   49.640000   83.538676
OCEANIA                131.180952   165.600376  107.885714  198.190957
SUB-SAHARAN AFRICA      92.264706   129.364174    5.106078   16.961832
WESTERN EUROPE         952.042857  3097.797513   25.970714   51.581009

                     migration            ...  birthrate            deathrate  \
                          mean       std  ...       mean       std       mean
region                                    ...
ASIA (EX. NEAR EAST)  1.372500  5.063964  ...  21.157857  9.787479   7.637143
BALTICS              -2.033333  1.236783  ...   9.343333  0.651178  12.630000
C.W. OF IND. STATES  -2.033333  2.613981  ...  17.855833  8.006167  10.341667
EASTERN EUROPE       -0.647500  2.131922  ...  10.370909  1.829778  10.284545
LATIN AMER. & CARIB  -1.494444  6.108613  ...  19.081111  5.559570   6.376000
NEAR EAST             2.650000  5.286323  ...  25.031875  9.281124   4.809375
NORTHERN AFRICA      -0.432000  0.371712  ...  20.814000  4.461533   4.806000
NORTHERN AMERICA     -0.274000  6.054976  ...  13.154000  2.093127   7.694000
OCEANIA              -2.060526  7.864855  ...  22.108000  5.691590   5.810526
SUB-SAHARAN AFRICA   -0.335098  2.347984  ...  36.043922  9.221798  15.160000
WESTERN EUROPE        3.321429  2.610330  ...  10.553571  1.571819   9.354643

                               agriculture            industry            \
                           std        mean       std      mean       std
region
ASIA (EX. NEAR EAST)  3.251724    0.177643  0.146931  0.302143  0.125002
BALTICS               1.443572    0.045000  0.008660  0.293333  0.032005
C.W. OF IND. STATES   2.779192    0.192000  0.095641  0.328000  0.084263
EASTERN EUROPE        2.458672    0.092167  0.063472  0.309250  0.052448
LATIN AMER. & CARIB   1.709490    0.091023  0.076909  0.256116  0.113154
NEAR EAST             1.727212    0.063812  0.065365  0.406000  0.180041
NORTHERN AFRICA       0.818615    0.135000  0.053773  0.426200  0.119154
NORTHERN AMERICA      0.524767    0.014000  0.006928  0.199333  0.097084
OCEANIA               1.667095    0.175125  0.122369  0.215250  0.129359
SUB-SAHARAN AFRICA    6.121560    0.283551  0.181755  0.266878  0.166158
WESTERN EUROPE        1.418986    0.044480  0.058256  0.246083  0.103882

                       service
                          mean       std
region
ASIA (EX. NEAR EAST)  0.520107  0.166566
BALTICS               0.661667  0.039678
C.W. OF IND. STATES   0.480167  0.079670
EASTERN EUROPE        0.598667  0.040392
LATIN AMER. & CARIB   0.650721  0.132052
NEAR EAST             0.530000  0.166805
NORTHERN AFRICA       0.432000  0.085685
NORTHERN AMERICA      0.787000  0.103000
OCEANIA               0.608938  0.165782
SUB-SAHARAN AFRICA    0.449755  0.151753
WESTERN EUROPE        0.714625  0.103192

[11 rows x 36 columns]

## Acknowledgments

List Comprehension: [w3schools - python lists comprehension](https://www.w3schools.com/python/python_lists_comprehension.asp)

Lambdas: [realpython - python lambdas](https://realpython.com/python-lambda/)

Overview of pandas: [pandas official doumentation: package overview](https://pandas.pydata.org/docs/getting_started/overview.html)

Population Data: [CIA World Factbook](https://www.cia.gov/library/publications/the-world-factbook/geos/xx.html)

World Factbook Dataset: [Fernando Lasso (2017). Countries of the World. Kaggle.](https://www.kaggle.com/fernandol/countries-of-the-world)

### *Sneak peek of how lambdas can be used later on with datasets*

In [65]:
import pandas as pd

# let's say we have a dataframe with names 
dataset = pd.DataFrame(data = ['Braund, Mr. Owen Harris',
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Allen, Mr. William Henry',
 'Moran, Mr. James',
 'McCarthy, Mr. Timothy J',
 'Palsson, Master. Gosta Leonard',
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Nasser, Mrs. Nicholas (Adele Achem)'], columns = ['Name'] )

# Have a look at the data
dataset.head()

                                                Name
0                            Braund, Mr. Owen Harris
1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2                             Heikkinen, Miss. Laina
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                           Allen, Mr. William Henry

Let's say, we'd like to extract the titles of each name for a new column named title.

*Note: Deriving and extracting values, i.e. features, is called feature engineering! An important step in the data science workflow that requires creative thinking and domain knowledge.*

In [66]:
dataset['Title'] = dataset['Name'].apply(lambda x: x.split(" ")[1].replace(".", ""))

# Take a look at how our dataset looks like now
dataset

                                                Name   Title
0                            Braund, Mr. Owen Harris      Mr
1  Cumings, Mrs. John Bradley (Florence Briggs Th...     Mrs
2                             Heikkinen, Miss. Laina    Miss
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)     Mrs
4                           Allen, Mr. William Henry      Mr
5                                   Moran, Mr. James      Mr
6                            McCarthy, Mr. Timothy J      Mr
7                     Palsson, Master. Gosta Leonard  Master
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)     Mrs
9                Nasser, Mrs. Nicholas (Adele Achem)     Mrs

**Exercise Break**

Solve Exercise(s): 1, 3, 6, 8 & 9